<div>&lt;3</div>

<style lang="scss">
  div {
    align-items: center;
    background: #ea7025;
    border-radius: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 4px 8px 14px rgba(0, 0, 0, 0.2);
    color: var(--colorFgInverse);
    display: flex;
    font-size: var(--typeSizeSmall);
    font-weight: var(--typeWeightBold);
    height: 2.5rem;
    justify-content: center;
    transform: rotate(-90deg);
    width: 2.5rem;
  }
</style>
